[project]
	description = lan chat application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gprengan
[access "refs/for/refs/*"]
	read = group user/gprengan
	push = group user/gprengan
	label-Code-Review = -2..+2 group user/gprengan
	label-Verified = -1..+1 group user/gprengan
	rebase = group user/gprengan
	removeReviewer = group user/gprengan
	submit = group user/gprengan
[access "refs/heads/*"]
	read = group user/gprengan
	create = group user/gprengan
	push = +force group user/gprengan
	pushMerge = group user/gprengan
[access "refs/tags/*"]
	push = group user/gprengan
	push = +force group user/gprengan
[receive]
	requireChangeId = true
