[project]
	description = lan chat application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Parimalarengan G (gprengan)
[access "refs/for/refs/*"]
	read = group user/Parimalarengan G (gprengan)
	push = group user/Parimalarengan G (gprengan)
	label-Code-Review = -2..+2 group user/Parimalarengan G (gprengan)
	label-Verified = -1..+1 group user/Parimalarengan G (gprengan)
	rebase = group user/Parimalarengan G (gprengan)
	removeReviewer = group user/Parimalarengan G (gprengan)
	submit = group user/Parimalarengan G (gprengan)
[access "refs/heads/*"]
	read = group user/Parimalarengan G (gprengan)
	create = group user/Parimalarengan G (gprengan)
	push = +force group user/Parimalarengan G (gprengan)
	pushMerge = group user/Parimalarengan G (gprengan)
[access "refs/tags/*"]
	push = group user/Parimalarengan G (gprengan)
	push = +force group user/Parimalarengan G (gprengan)
[receive]
	requireChangeId = true
